@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
	 <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/small-business.css")">
	 <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/shop-homepage.css")">
     <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/form-login.css")">
     <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/form-basic.css")">
	 <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/footer.css")">
     <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/slick.css")">
     <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/slick-theme.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
	
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
			
			<ul class="nav navbar-nav navbar-left">
                  <a href="@routes.HomeController.index()"><li>
                   <img src="@routes.Assets.versioned("images/logo.png")" alt="logo">
                  </li></a>
               </ul>
               

			
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			
			
			
                <ul class="nav navbar-nav" style="padding-top: 20px">
                    <li @if(title == "Whats on"){class="active"}><a href="@routes.HomeController.whatson()">What's on</a> </li>
                    <li @if(title == "Booking"){class="active"}><a href="@routes.HomeController.booking()">Booking</a> </li>
					<li @if(title == "Contact"){class="active"}> <a href="@routes.HomeController.contact()">Contact</a></li>
                </ul>
				
				
				
				<ul class="nav navbar-nav navbar-right" style="padding-top: 20px">
					<li @if(title == "Sign up"){class="active"}><a href="@routes.HomeController.signup()">Sign up</a></li>
					<li @if(title == "Log in"){class="active"}><a href="@routes.HomeController.login()">Log in  <span class="glyphicon glyphicon-user"></span></a></li>
				</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	<!-- /.nav -->

    <!-- Page Content -->
    <div class="container" style="padding-top: 1em;">

	@* And here's where we render the `Html` object containing
         * the page content. *@
        @content

     </div>

	 <!-- Footer -->
        <div class="footer">
		<div class="container">
			<p class="text-muted">- Copyright © Tymoteusz & Jason -</p>
		</div>
	</div>

    

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.versioned("javascripts/slick.js")" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
		$(document).on('ready', function() {
		  $(".regular").slick({
			dots: true,
			infinite: true,
			slidesToShow: 3,
			slidesToScroll: 3
		  });
		  $(".center").slick({
			dots: true,
			infinite: true,
			centerMode: true,
			slidesToShow: 3,
			slidesToScroll: 3
		  });
		  $(".variable").slick({
			dots: true,
			infinite: true,
			variableWidth: true
		  });
		});
	</script>
</body>

</html>
