@main("Sign up"){
<form class="form-basic" method="post" action="#">

    <div class="form-title-row">
        <h1>Sign Up</h1>
    </div>

    <div class="form-row">
        <label>
                    <span>Full name</span>
                    <input type="text" name="name">
                </label>
    </div>

    <div class="form-row">
        <label>
                    <span>Email</span>
                    <input type="email" name="email">
                </label>
    </div>

    <div class="form-row">
        <label>
                    <span>D.O.B</span>
                    <input type="date" name="date">
                </label>
    </div>

    <div class="form-row">
        <label><span>Are You</span></label>
        <div class="form-radio-buttons">

            <div>
                <label>
                            <input type="radio" name="radio">
                            <span>Male</span>
                        </label>
            </div>

            <div>
                <label>
                            <input type="radio" name="radio">
                            <span>Female</span>
                        </label>
            </div>

            <div>
                <label>
                            <input type="radio" name="radio">
                            <span>Other</span>
                        </label>
            </div>

            <div>
                <label>
                            <input type="radio" name="radio">
                            <span>Decline to state</span>
                        </label>
            </div>

        </div>
    </div>

    <div class="form-row">
        <button type="submit">Submit Form</button>
    </div>

    <p style="text-align:center;">Already have an account? <a href="form-login.html"> Sign In Here </a>

</form>
}